.articledetail_container {
    display: flex;
    padding-bottom: 15px;
    /* margin: 30px 70px;
    height: 100%;
    flex-direction: row; */


}
.left_container {
    /* width: 50%;
    float: left; */
    flex: 1;
    justify-content: center;
}

.left_container > img {
    width: 100%;
    height: 80vh;
    border-radius: 6px;
}

.right_container {
    display: flex;
    /* width: 50%; */
    flex: 1;
    height: 100%;
    border-radius: 6px;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 0 40px;
    margin-left: 40px;
    background-color: white;
}

.right_wrapper {
    border: 1px solid lightgrey;
}

.right_container > h1 {
    font-weight: 400;
    font-size: 40px;
}

.span {
    font-weight: bold;
    line-height: 2;
}
