.searchpage_container {
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
}

.searchpage_container > p {
    padding-bottom: 25px;
}

.searchpage_products {
    
    display: grid;
    grid-template-columns: repeat(5, 200px);
    column-gap: 40px;
    row-gap: 35px;
}


.select {
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgrey;
    outline: none;
    padding: 0 1em 0 0;
    margin: 0;
    line-height: inherit;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
}
